* {
	padding: 0;
	margin: 0;
	font-family: Glacial Indifference, sans-serif;
}

:root {
	--primary: #f0536a;
	--secondary: linear-gradient(45deg, #f0536a, #a280ec, #12c2e9);
	--body-text-color: black;
	--main-title-text-color: var(--secondary);
	--title-text-color: var(--primary);
	--subtitle-text-color: black;
	--background-color: #f5f9ff;
	--background-accent: #d5dce4;
}
