* {
	padding: 0;
	margin: 0;
	font-family: Glacial Indifference, sans-serif;
}

:root {
	--primary: #f0536a;
	--secondary: linear-gradient(45deg, #f0536a, #a280ec, #12c2e9);
	--body-text-color: black;
	--main-title-text-color: var(--secondary);
	--title-text-color: var(--primary);
	--subtitle-text-color: black;
	--background-body: #f5f9ff;
}

body {
	background-color: var(--background-body);
	color: var(--body-text-color);
}

header, .content, footer {
	padding: 48px;
}

h1 {
	background-image: var(--main-title-text-color);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	font-size: 32px;
	font-weight: 500;
}
h2 {
	color: var(--title-text-color);
	font-size: 24px;
	font-weight: 500;
}
h3 {
	color: var(--subtitle-text-color);
	font-size: 20px;
	font-weight: 400;
}
h4 {
	color: var(--subtitle-text-color);
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
}



#main-icon {
	height: 120px;
	width: 120px;
	border-radius: 40px;
}

.guild-icon {
	height: 60px;
	width: 60px;
	border-radius: 20px;
}
.flexbox {
	display: flex;
	flex-direction: row;
}

hr {
	border: solid 2px #ffffff;
	border-radius: 2px;
	max-width: 128px;
	margin: 16px 0;
}

img {
	border-radius: 16px;
	max-width: 100%;
}

img.badge {
	border-radius: 32px;
	width: 128px;
	height: 128px;
	margin-bottom: 16px;
}

a {
	color: var(--primary);
	text-decoration: none;
}
a.button {
	background-color: #f0536a2a;
	padding: 12px 36px;
	margin: 12px 0;
	border-radius: 8px;
	box-shadow: 0 1px 2px 1px #0f172a30;
}
a.button > span {
	font-size: 16px;
	color: var(--primary);
	font-weight: 700;
}

a.btn-filled {
	background-color: var(--primary);
} 
a.btn-gradient {
	background-image: var(--secondary);
} 
a.btn-gradient > span, a.btn-filled > span {
	color: white;
} 
a.btn-white {
	background-xolor: white;
} 

.section {
	padding: 24px 0;
}

.box {
	padding: 64px;
	margin: 24px 0;
	box-shadow: 0 8px 16px 8px #cbd5e1;
	border-radius: 16px;
	text-align: center;
}
.box-highlighted {
	background-color: #10b981;
	color: white;
	font-weight: bold;
}
.box-filled {
	background-color: var(--primary);
	color: white;
	font-weight: bold;
}
.box-gradient {
	background-image: var(--secondary);
	color: white;
	font-weight: bold;
}
.box-booster {
	background-color: #ff6eaf;
	color: white;
	font-weight: bold;
}

.price {
	padding: 16px 32px;
	margin-top: 32px;
	background-color: white;
	color: var(--primary);
	border-radius: 48px;
}

#gamerplusoffer {
	width: 33.33%;
	margin-right: 12px;
}
#gamerstaroffer {
	width: 33.33%;
	margin: 0 12px;
}
#boosteroffer {
	width: 33.33%;
	margin-left: 12px;
}

#homeoffertitle {
	color: white;
}

.new-event {
	background-color: #0369a1;
	color: white;
} 
.new-announcement {
	background-color: #6366f1;
	color: white;
} 
.new-recruitement {
	background-color: #84cc16;
	color: white;
} 

.tag {
	padding: 0 2px;
	border-radius: 2px;
	margin-right: 8px;
}

@media only screen and (max-width: 640px) {
	header, .content, footer {
		padding: 24px;
	}
	header {
		text-align: center;
	}
	.section {
		padding: 12px;
	}
	.box {
		border-radius: 24px;
		padding: 24px;
		box-shadow: 0 4px 8px 4px #cbd5e1;
	}
	img {
		border-radius: 4px;
	}
	img.badge {
		width: 64px;
		height: 64px;
		border-radius: 16px;
	}

	.price {
		padding: 8px 16px;
		border-radius: 32px;
	}
	.flexbox {
		display: inherit;
	}

	#gamerplusoffer, #gamerstaroffer, #boosteroffer {
		width: inherit;
		margin-left: 0;
		margin-right: 0;
	}

	#homeoffertitle {
		display: none;
	}
}
